.desktop {
    background-color: #FFFFFF;
    position: relative;
    width: 1440px;
    height: 10187px;
}
 
.top-bar-0 {
    position: absolute;
    width: 1440px;
    height: 83px;
    left: calc(50% - 1440px/2);
    top: 0px;    
}
 
.top-bar-1 {
    position: absolute;
    width: 1238.39px;
    height: 44.12px;
    left: calc(50% - 1238.39px/2 - 0.01px);
    top: 19.5px;
}
 
.top-bar-2 {
    position: absolute;
    width: 1238.39px;
    height: 44.12px;
    left: calc(50% - 1238.39px/2);
    top: 0px;
}
 
.top-bar-3 {
    position: absolute;
    width: 139px;
    height: 44px;
    left: calc(50% - 139px/2 + 550.51px);
    top: 0.5px;
}
 
.top-bar-circles {
    position: absolute;
    width: 60px;
    height: 20px;
    left: calc(50% - 60px/2 - 588.99px);
    top: 11.5px;
 
    border-radius: 0px;
}
 
.bar-0 {
    position: absolute;
    width: 1440px;
    height: 884.86px;
    top: 234px;
}
 
.bar-0-1 {
    position: absolute;
    width: 1238.39px;
    height: 170.69px;
    left: calc(50% - 1238.39px/2);
    top: 0px;
}
 
.bar-1 {
    position: absolute;
    width: 1238.39px;
    height: 421.19px;
    left: calc(50% - 1238.39px/2 - 0.01px);
    top: 1248.86px;
}
 
.bar-1-1 {
    position: absolute;
    width: 409px;
    height: 234px;
    left: calc(50% - 409px/2 + 402.51px);
    top: 78.14px;
}
 
.bar-1-2 {
    position: absolute;
    width: 409px;
    height: 234px;
    left: calc(50% - 409px/2 - 6.49px);
    top: 78.14px;
}
 
.bar-1-3 {
    position: absolute;
    width: 409px;
    height: 234px;
    left: calc(50% - 409px/2 - 414.49px);
    top: 78.14px;
}
 
.bar-2 {
    position: absolute;
    width: 1238.39px;
    height: 1288.84px;
    left: calc(50% - 1238.39px/2 - 0.01px);
    top: 1800.05px;
}
 
.bar-2-1 {
    position: absolute;
    width: 1238px;
    height: 1052px;
    left: calc(50% - 1238px/2 + 0.01px);
    bottom: 0px;
}

.bar-2-2 {
    position: absolute;
    width: 396.28px;
    height: 792.34px;
    left: calc(50% - 396.28px/2 - 0.02px);
    top: 129.55px;
}

.bar-3 {
    position: absolute;
    width: 1238.39px;
    height: 1288.84px;
    left: calc(50% - 1238.39px/2 - 0.01px);
    top: 3348.89px;
}

.bar-3-1 {
    position: absolute;
    width: 1238px;
    height: 1052px;
    left: calc(50% - 1238px/2 + 0.01px);
    top: 236.11px;
}

.bar-3-2 {
    position: absolute;
    width: 396.28px;
    height: 792.34px;
    left: calc(50% - 396.28px/2 - 0.02px);
    top: 130.39px;
}

.bar-4 {
    position: absolute;
    width: 1238.39px;
    height: 1259.84px;
    left: calc(50% - 1238.39px/2 - 0.01px);
    top: 4897.73px;
}

.bar-4-1 {
    position: absolute;
    width: 1238px;
    height: 1052px;
    left: calc(50% - 1238px/2 + 0.01px);
    top: 207.27px;
}

.bar-4-2 {
    position: absolute;
    width: 396.28px;
    height: 792.34px;
    left: calc(50% - 396.28px/2 - 0.02px);
    top: 130.23px;
}

.bar-5 {
    position: absolute;
    width: 1238.39px;
    height: 912.38px;
    left: calc(50% - 1238.39px/2 - 0.01px);
    top: 6417.58px;
}

.app-button {
    position: absolute;
    width: 1238.39px;
    height: 170.69px;
    left: calc(50% - 1238.39px/2);
    top: 0px;
}
 
 #top-bar-button-support {
     position: absolute;
     width: 58px;
     height: 12px;
     left: calc(50% - 58px/2 + 422.01px);
     top: 15.5px;
 
     font-family: Roboto;
     font-style: normal;
     font-weight: normal;
     font-size: 11px;
     line-height: 11px;
 
     text-align: right;
     letter-spacing: 0.633px;
     text-transform: uppercase;
     text-decoration: none;
 
     color: #6E6D7A
 }
 
 #top-bar-button-doo-for-ios {
    position: absolute;
    width: 82px;
    height: 12px;
    left: calc(50% - 82px/2 + 203.01px);
    top: 15.5px;
 
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 11px;
 
    text-align: right;
    letter-spacing: 0.633px;
    text-transform: uppercase;
    text-decoration: none;
 
    color: #383938
 }
 
 #top-bar-button-download {
    position: absolute;
    padding: 15px 34px 17px 33px;
    background-color: #F5F6F9;
    left: auto;
    top: auto;
    border-radius: 8px;
    width: 72px;
    height: 12px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 11px;
    
    text-align: right;
    letter-spacing: 0.663px;
    text-transform: uppercase;
    text-decoration: none;
    
    color: #6E6D7A;
 }
 
 #top-bar-button-doo-for-mac {
    position: absolute;
    width: 88px;
    height: 12px;
    left: calc(50% - 88px/2 + 319.01px);
    top: 15.5px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 11px;
    
    text-align: right;
    letter-spacing: 0.663px;
    text-transform: uppercase;
    text-decoration: none;
    
    color: #6E6D7A;
 }
 
#svg-download {
    position: absolute;
    width: 139px;
    height: 44px;
    left: calc(50% - 139px/2);
    top: 0px;
 
    background: #F5F6F9;
    border-radius: 8px;
}
 
#top-bar-circle-0 {
    position: absolute;
    left: 0%;
    right: 71.75%;
    top: 0%;
    bottom: 0%;
 
    background: #64E5A6;
}
 
#top-bar-circle-1 {
    position: absolute;
    left: 66.53%;
    right: 0%;
    top: 0%;
    bottom: 0%;
 
    background: #ACBEFB;
}
 
#top-bar-circle-2 {
    position: absolute;
    left: 30.66%;
    right: 35.88%;
    top: 0%;
    bottom: 0%;
 
    background: #A3F2CB;
}
 #three-circles {
    background-image:
    url(svg/three-circles.svg);
    background-repeat: no-repeat;
 }
 
 #seven-phones {
    position: absolute;
    width: 1440px;
    height: 712px;
    top: 171px;
 
    background: url(.png);
    border-radius: 0px;
 }
 
 #sytdl {
    position: absolute;
    width: 773px;
    height: 78px;
    left: calc(50% - 773px/2 - 0.49px);
    top: -5px;
    margin-top: 0px;
    margin-bottom: 0px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 70px;
    line-height: 78px;
    /* identical to box height, or 111% */
    
    text-align: center;
    letter-spacing: 3.12px;
    
    color: #383938;
 }
 
 #app-button {
    background-image:
    url(svg/app-button.svg);
    background-repeat: no-repeat;
    width: 135px;
    height: 40px;
    position: absolute;
    left: calc(50% - 135px/2 - 0.49px);
    top: 129px;
    border-radius: 0px;
 }
 
 #bshtfi {
    position: absolute;
    width: 235px;
    height: 75px;
    left: calc(50% - 235px/2 - 36px);
    top: 147px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 37px;
    /* or 234% */
    
    
    color: #6E6D7A;
 }
 
 #three-rect {
    position: absolute;
    width: 70px;
    height: 70px;
    left: calc(50% - 70px/2 - 118.5px);
    top: 40px;
    
    background: url(.png);
    border-radius: 0px;
 }
 
#dot-wall-1 {
    position: absolute;
    width: 1px;
    height: 234px;
    left: calc(50% - 1px/2 - 619.7px);
    top: 78px;
 
    background: #EDEEF3;
}
 
#dot-wall-2 {
    position: absolute;
    width: 1px;
    height: 234px;
    left: calc(50% - 1px/2 - 211.04px);
    top: 78px;
 
    background: #EDEEF3;
} 
 
#dot-wall-3 {
    position: absolute;
    width: 1px;
    height: 234px;
    left: calc(50% - 1px/2 + 197.62px);
    top: 78px;
 
    background: #EDEEF3;
}
 
#pafted {
    position: absolute;
    width: 189px;
    height: 75px;
    left: calc(50% - 189px/2 - 59px);
    top: 147px;
 
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 37px;
    /* or 267% */
 
    color: #6E6D7A;
}
 
#zz-icon {
    position: absolute;
    width: 70px;
    height: 70px;
    left: calc(50% - 70px/2 - 118.5px);
    top: 40px;
 
    background: url(.png);
    border-radius: 0px;
}
 
#ctwac {
    position: absolute;
    width: 189px;
    height: 75px;
    left: calc(50% - 189px/2 - 59px);
    top: 147px;
 
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 37px;
    /* or 267% */
 
    color: #6E6D7A;
}
 
#two-rect {
    position: absolute;
    width: 70px;
    height: 70px;
    left: calc(50% - 70px/2 - 118.5px);
    top: 40px;
 
    background: url(.png);
    border-radius: 0px;
}
 
#dwp {
    position: absolute;
    width: 369px;
    height: 53px;
    left: calc(50% - 369px/2 - 0.49px);
    top: -1.05px;
 
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 33px;
    line-height: 53px;
    /* identical to box height, or 160% */
 
    text-align: center;
    letter-spacing: 1.56px;
 
    color: #383938;
}
 
#pdaht {
    position: absolute;
    width: 495px;
    height: 88px;
    left: calc(50% - 495px/2 - 0.49px);
    top: 76.95px;
 
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 29px;
    /* or 183% */
 
    text-align: center;
 
    color: #6E6D7A;
}

#bf-phone-rect {
    position: absolute;
    width: 1238px;
    height: 1052px;
    left: calc(50% - 1238px/2);
    top: 0px;

    background: #F0F2FA;
    border-radius: 0px;
}

#borders-phone {
    position: absolute;
    width: 396px;
    height: 790px;
    left: calc(50% - 396px/2 + 0.02px);
    top: 0.45px;

    background: url(.png);
    border-radius: 0px;
}

#cards-phone {
    position: absolute;
    width: 347px;
    height: 769px;
    left: 23.16px;
    top: 23.45px;

    background: url(cards.jpg);
    border-radius: 30px;
}

#catbt {
    position: absolute;
    width: 491px;
    height: 88px;
    left: calc(50% - 491px/2 - 0.49px);
    top: 76.11px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 29px;
    /* or 183% */

    text-align: center;

    color: #6E6D7A;
}

#ete {
    position: absolute;
    width: 314px;
    height: 53px;
    left: calc(50% - 314px/2 + 0.01px);
    top: -0.89px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 31px;
    line-height: 53px;
    /* identical to box height, or 170% */

    text-align: center;
    letter-spacing: 1.56px;

    color: #383938;
}

#bf-phone-rect-2 {
    position: absolute;
    width: 1238px;
    height: 1052px;
    left: calc(50% - 1238px/2);
    top: 0px;

    background: #F0F2FA;
    border-radius: 0px;
}

#borders-phone-2 {
    position: absolute;
    width: 396px;
    height: 790px;
    left: calc(50% - 396px/2 + 0.02px);
    top: -0.39px;

    background: url(.png);
    border-radius: 0px;
}

#cards-phone-2 {
    position: absolute;
    width: 347px;
    height: 743px;
    left: 23.16px;
    top: 22.61px;

    background: url(.jpg);
}

#ttebt {
    position: absolute;
    width: 496px;
    height: 59px;
    left: calc(50% - 496px/2 + 0.01px);
    top: 76.27px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 29px;
    /* or 266% */

    text-align: center;

    color: #6E6D7A;
}

#oshb {
    position: absolute;
    width: 371px;
    height: 53px;
    left: calc(50% - 371px/2 - 0.49px);
    top: -0.73px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 53px;
    /* identical to box height, or 165% */

    text-align: center;
    letter-spacing: 1.56px;

    color: #383938;
}

#bf-phone-rect-3 {
    position: absolute;
    width: 1238px;
    height: 1052px;
    left: calc(50% - 1238px/2);
    top: 0px;

    background: #F0F2FA;
    border-radius: 0px;
}

#borders-phone-3 {
    position: absolute;
    width: 396px;
    height: 790px;
    left: calc(50% - 396px/2 + 0.02px);
    top: -0.23px;

    background: url(.png);
    border-radius: 0px;
}

#cards-phone-3 {
    position: absolute;
    width: 347px;
    height: 769px;
    left: 23.16px;
    top: 22.77px;
    border-radius: 40px;

    background: url(.jpg);
}

#piafr {
    position: absolute;
    width: 476px;
    height: 117px;
    left: calc(50% - 476px/2 + 0.01px);
    top: 76.42px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 29px;
    /* or 183% */

    text-align: center;

    color: #6E6D7A;
}

#kydp {
    position: absolute;
    width: 382px;
    height: 53px;
    left: calc(50% - 382px/2 + 0.01px);
    top: -0.58px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 33px;
    line-height: 53px;
    /* identical to box height, or 160% */

    text-align: center;
    letter-spacing: 1.56px;

    color: #383938;
}

#unlock-image {
    position: absolute;
    width: 611px;
    height: 645px;
    left: calc(50% - 611px/2 + 312.51px);
    top: 265.42px;

    background: url(.jpg);
    border-radius: 0px;
}

#lock-image {
    position: absolute;
    width: 611px;
    height: 645px;
    left: calc(50% - 611px/2 - 312.49px);
    top: 265.42px;

    background: url(.jpg);
    border-radius: 0px;
}

